<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <p class="navbar-brand p-0 m-0">Blog</p>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']"
            >Home</a
          >
        </li>
        <li
          class="nav-item dropdown"
          *ngIf="authService.isLoggedIn() && authService.isAdmin()"
        >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/admin/categories']"
                >Categories</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/admin/blogposts']"
                >Blog Posts</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
